@import '../../vendor/filament/filament/resources/css/theme.css';

@config '../../tailwind.config.js';

.has-paper-airplane-icon svg {
  transform: rotate(35deg);
  margin-left: 0;
}

.filament-login-page h2 {
    display: none;
}

.filament-login-page img.brand-logo {
    @apply mb-6;
}
